.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;

  /* Largura do cabeçalho flutuante */
  width: 1260px;
  max-width: 1200px;
  padding: 0.225rem 1.25rem;

  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.logo img {
  height: 40px;

}

.nav-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: all 0.3s ease;
}

.nav-list a:hover {
  color: #7c3aed;
  /* Cor roxa para o destaque */
}

/* Estilo para os ícones no canto direito */
.icon a {
  font-size: 1.2rem;
}

.icon-img {
    height: 20px;
}

.menu-toggle {
  display: none;
}

.menu-icon {
    display: none;
  width: 30px;
  height: 30px;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.menu-icon img {
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
}

.menu-icon:hover img {
  opacity: 0.7;

}

@media (max-width: 1280px) {
  .header {
    width: calc(100% - 40px);
  }
}

/* Responsividade simples */
@media (max-width: 768px) {
  .header {
    width: 95%;
    padding: 10px 20px;
  }

  .nav-list {
    display: none;
  }
  
  .menu-icon {
    display: block;
  }

  .menu-toggle:checked ~ .nav {
    display: block;
  }

  .menu-toggle:checked ~ .nav .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
  }
}